<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    
    <div class="footer" style="vertical-align: middle; text-align: right;" >
        <div class="card clearfix">
            <span style="font-weight: bold;" class="footer-text-left">
                Corporación Farmacéutica (Calidad, Responsabilidad, Eficiencia, Reciprocidad)
            </span>
            <span style="font-weight: bold;" class="footer-text-right">
                <span class="ui-icon ui-icon-copyright"></span>
                <span>Derechos Reservados COFAR © ${guestPreferences.year}</span>
            </span>
        </div>
    </div>
</ui:composition>