<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pp="http://primefaces.org/poseidon">

    <h:form id="menuform"> 
        <div class="layout-menu-container">
            <div class="nano">
                <div class="nano-content menu-scroll-content">
                    <!--div class="search-input">
                        <input type="text" placeholder="Buscar..."/>
                        <i class="fa fa-search"></i>
                    </div-->

                    <div class="layout-menu-footer" style="padding-bottom: 0px;">
                        <center>
                            <!--p:graphicImage url="/resources/img/logocofarblack.png" 
                                            height="100" style="vertical-align: middle;">
                            </p:graphicImage-->
                            <p:outputLabel value="COFAR" 
                                           style="font-family: 'Arial Black', Arial; font-size: 28px; font-weight: bold;" />
                            <br />
                            <p:outputLabel value="CORPORACIÓN FARMACÉUTICA" 
                                           style="font-family: Arial; font-size: 10px; font-weight: bold;" />
                        </center>
                    </div>
                    <pp:menu model="#{menuView.model}" />
                </div>
            </div>
        </div>
    </h:form>
</ui:composition>