<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    
    <a id="right-sidebar-button-open" href="#">
        <i class="fa fa-angle-left"></i>
    </a>
    
    <div id="right-sidebar" class="right-sidebar">
        <div class="nano">            
            <div class="right-sidebar-header ui-widget-header">
                <i class="fa fa-star"></i>
                <span>Favoritos</span>
                <a id="right-sidebar-button-close" href="#">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        
            <div class="nano-content sidebar-scroll-content">
                <p:accordionPanel activeIndex="0" multiple="true">
                    <p:tab title="Contactos">
                        <ul class="contact-list">
                            <li>
                                <a href="#">
                                    <p:graphicImage name="images/avatar1.png" library="poseidon-layout" width="45"/>
                                    <span class="name">Quinsiño Gomez</span>
                                    <span class="email">qgomez@cofar.com.bo</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p:graphicImage name="images/avatar2.png" library="poseidon-layout" width="45"/>
                                    <span class="name">Sussi Gutierrez</span>
                                    <span class="email">sgutierrez@cofar.com.bo</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p:graphicImage name="images/avatar3.png" library="poseidon-layout" width="45"/>
                                    <span class="name">Paola Imaña</span>
                                    <span class="email">pimana@cofar.com.bo</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p:graphicImage name="images/avatar4.png" library="poseidon-layout" width="45"/>
                                    <span class="name">Alejandra Oropeza</span>
                                    <span class="email">aoropeza@cofar.com.bo</span>
                                </a>
                            </li>
                        </ul>
                    </p:tab>
                    <p:tab title="Notas">
                        <ul class="note-list">
                            <li>
                                <p:selectBooleanCheckbox />
                                <span class="task-name">Reportes de Ventas</span>
                                <i class="fa fa-briefcase"></i>
                            </li>
                            <li>
                                <p:selectBooleanCheckbox />
                                <span class="task-name">Pago de facturas</span>
                                <i class="fa fa-credit-card"></i>
                            </li>
                            <li>
                                <p:selectBooleanCheckbox />
                                <span class="task-name">Reunion con Marco Luna</span>
                                <i class="fa fa-cutlery"></i>
                            </li>
                            <li>
                                <p:selectBooleanCheckbox />
                                <span class="task-name">Reunión con los clientes</span>
                                <i class="fa fa-user"></i>
                            </li>
                            <li>
                                <p:selectBooleanCheckbox />
                                <span class="task-name">Nuevo Tema</span>
                                <i class="fa fa-paint-brush"></i>
                            </li>
                            <li>
                                <p:selectBooleanCheckbox />
                                <span class="task-name">Boleto de Avión</span>
                                <i class="fa fa-fighter-jet"></i>
                            </li>
                        </ul>
                    </p:tab>
                    <p:tab title="Contact Form">
                        <div class="ui-g ui-fluid contact-form">
                            <div class="ui-g-12">
                                <p:inputText placeholder="Name"/>
                            </div>
                            <div class="ui-g-12">
                                <p:inputText placeholder="Message"/>
                            </div>
                            <div class="ui-g-12">
                                <p:commandButton type="button" value="Send" icon="fa fa-paper-plane-o"></p:commandButton>
                            </div>
                        </div>
                    </p:tab>
                </p:accordionPanel>
            </div>
        </div>
    </div>
</ui:composition>