<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pp="http://primefaces.org/poseidon">

    <div class="topbar clearfix">
        <div class="topbar-left">            
            <div class="logo"></div>
        </div>

        <div class="topbar-right">
            <a id="menu-button" href="#">
                <i class="fa fa-angle-left"></i>
            </a>

            <a id="topbar-menu-button" href="#">
                <i class="fa fa-bars"></i>
            </a>
            <ul class="topbar-items fadeInDown animated">
                <li class="profile-item">
                    <a href="#">                            
                        <div class="profile-image"></div>
                        <span class="topbar-item-name">Nancy Castro</span>
                    </a>

                    <ul class="poseidon-menu animated">
                        <li role="menuitem">
                            <a href="#">
                                <i class="fa fa-fw fa-user"></i>
                                <span>Perfil</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#">
                                <i class="fa fa-fw fa-user-secret"></i>
                                <span>Privacidad</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#">
                                <i class="fa fa-fw fa-cog"></i>
                                <span>Ajustes</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#">
                                <i class="fa fa-fw fa-sign-out"></i>
                                <span>Salir</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="topbar-icon fa fa-fw fa-cog"></i>
                        <span class="topbar-item-name">Ajustes</span>
                    </a>
                    <ul class="poseidon-menu animated">
                        <li role="menuitem">
                            <a href="#">
                                <i class="fa fa-fw fa-paint-brush"></i>
                                <span>Cambiar Tema</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#">
                                <i class="fa fa-fw fa-star-o"></i>
                                <span>Favoritos</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#">
                                <i class="fa fa-fw fa-lock"></i>
                                <span>Bloquear pantalla</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#">
                                <i class="fa fa-fw fa-picture-o"></i>
                                <span>Papel Tapiz</span>
                            </a>
                        </li>
                    </ul>
                </li>
                
                <li>
                    <a href="#">
                        <i class="topbar-icon material-icons fa fa-fw fa-bell-o"></i>
                        <span class="topbar-badge animated rubberBand">4</span>
                        <span class="topbar-item-name">Notificaciones</span>
                    </a>
                    <ul class="poseidon-menu animated">
                        <li role="menuitem">
                            <a href="#">
                                <i class="fa fa-fw fa-tasks"></i>
                                <span>Tareas Pendientes</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#">
                                <i class="fa fa-fw fa-calendar-check-o"></i>
                                <span>Reunion hoy a las 3pm</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#">
                                <i class="fa fa-fw fa-download"></i>
                                <span>Descargar documentos</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#">
                                <i class="fa fa-fw fa-plane"></i>
                                <span>Reservar un vuelo</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</ui:composition>