body {
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  28px;
    font-weight: bold;
    margin: 0px;
}

h3 {
    color: red;
    font-size :16px ;
}
a:link, a:visited {
    color: blue;
    font-weight : normal;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: blue;
    font-weight : normal;
    text-decoration : underline;
}

.header {
    width :100% ;
    height :100% ;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  22px;
    font-weight: normal;
    padding-top: 0px;
    color: white;
    text-align: right;
    background-color: white;
}

.navigation {
    width :200px ;
    height :200px ;
    float:left;
    font-size: 11px;
    font-weight: normal;
    font-family: Calibri;
}

.content {
    height: 100%;
    margin-left :200px ;
    min-height :500px;
    width: auto;
    border-left:1px solid #AFAFAF;
    padding-left:10px;
}

.footer {
    height :50px ;
    width :100% ;
    border-top: 1px solid #AFAFAF;
    text-align:left;
    font-size:  10px;
    font-weight: bold;
    padding-bottom: 60px;
    padding-top :10px ;
    color: black;
    text-align: center;
}

.inputLabel {
    font-weight : normal;
    width:120px;
    color:green;
    float:left;
}

.colored {
    background-color: #F5B66E;
    color: #000000;

}

.anulados{
    background-color: #F5677E;
    color:#FFFFFF;
}

.estado_material_cuarentena{
    background-color:#FEFCA9;
    color:#B09614;
}

.estado_material_aprobado{
    background-color:#BCF5A9;
    color:#21610B;
}

.estado_material_rechazado{
    background-color:#FFD277;
    color:#AA7919;
}

.estado_material_vencido{
    background-color:#F5A9F2;
    color:#B404AE;
}

.estado_material_reanalisis{
    background-color:#81F7F3;
    color:#0B3B39;
}

.estado_material_aprobadogi{
    background-color:#F5A9BC;
    color:#8A0829;
}

.registro_invalido{
    background-color:#F6CED8;
    color:#8A0829;
    font-weight: bold;
    text-align:right;
}

.registro_valido{
    background-color:#CEF6E3;
    color:#21610B;
    font-weight: bold;
    text-align:right;
}

.capitulo_materiaprima{
    background-color:#FFFED6;
    color:#000000;
}

.capitulo_empaqueprimario{
    background-color:#FFDDA0;
    color:#000000;
}

.capitulo_empaquesecundario{
    background-color:#EBFDA5;
    color:#000000;
}

.estado_1{
    background-color:#81F7F3;
    color:#0B3B39;
}

.estado_2{
    background-color:#BCF5A9;
    color:#21610B;
}

.estado_3{
    background-color:#F6CED8;
    color:#8A0829;
    text-align:right;
}

.estado_4{
    background-color:#F5A9BC;
    color:#8A0829;
}

.estado_6{
    background-color: #BCF5A9;
    color:black;
}

.estado_7{
    background-color: coral;
    color:black;
}

.registro_banco{
    background-color:#CEF6E3;
    color:#21610B;
    font-weight: bold;
    text-align:right;
}