<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>404</title>
        <h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css" library="poseidon-layout" />
    </h:head>
    <h:body class="exception-body notfound-page">
        <div class="exception-top">
            <p:graphicImage alt="error 404" name="icon-404.png" library="images"/>
        </div>
        <div class="exception-bottom">
            <div class="exception-wrapper">
                <span class="exception-summary">Página no encontrada</span>
                <span class="exception-detail">El recurso al que desea accesar no existe</span>
                <p:graphicImage alt="error 404" name="icon-404.png" library="images"/>
                <span class="exception-footer">Cofar - Hermes</span>
            </div>
        </div>
    </h:body>
</html>
