<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/template.xhtml">
    <ui:define name="content">
        <div class="card card-w-title">
            <h:form>
                <p:commandButton value="Ingresar" icon="fa fa-user"
                                 action="#{controllerAccesoSistema.verificarUsuarioAction()}"
                                 validateClient="true"/>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
