<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>Hermes | Inicio de Sesión</title>
 
        <style>
            .user-login{
                width: 280px;
                border-radius: 20px;
                margin: 20px auto;
                background: white;
                padding: 9px 27px;
                border: 1px solid #92490d;
            }
        </style>
    </h:head>
    <h:body style="text-align: center; background: #fff7f0;">
        <h:form id="miForm" class="user-login">
            <div class="login-panel ui-fluid">
                <div class="ui-g">
                    <div class="ui-g-12 logo-container">
                        <p:graphicImage name="images/login/login-logo.png" 
                                        library="poseidon-layout" />
                        <br />
                        <p:outputLabel value="HERMES" 
                                       style="font-family:fantasy; font-size:32px;" />
                    </div>
                    <div class="ui-g-12">
                        <p:inputText placeholder="Usuario" id="usuario" required="true"
                                     requiredMessage="Ingrese sus Datos de usuario" 
                                     value="#{controllerAccesoSistema.usuarioModuloBean.nombreUsuario}"/>
                    </div>
                    <div class="ui-g-12">
                        <p:password placeholder="Contraseña" feedback="false" id="password" 
                                    required="true" requiredMessage="Ingrese su contraseña"  
                                    value="#{controllerAccesoSistema.usuarioModuloBean.contrasenaUsuario}" />
                    </div>
                    <div class="ui-g-12 button-container">
                        <p:commandButton value="Ingresar" icon="fa fa-user"
                                         action="#{controllerAccesoSistema.verificarUsuarioAction()}"
                                         validateClient="true"/>

                    </div>
                </div>
                <center>
                    <p:outputLabel value="COFAR" 
                                   style="font-family: 'Arial Black', Arial; font-size: 28px; font-weight: bold;" />
                    <br />
                    <p:outputLabel value="CORPORACIÓN FARMACÉUTICA" 
                                   style="font-family: Arial; font-size: 10px; font-weight: bold;" />
                </center><br/>
            </div>


        </h:form>
        <p:growl autoUpdate="true" showDetail="true"/>
        <h:outputStylesheet name="css/layout-turquoise.css" library="poseidon-layout" />
    </h:body>
</html>






